h1{
    color: red;
}
h2{
    color: red;
}
/*celular*/
@media (max-width:450px) {
 h1{
    color: green;
}
h2{
    color: green;
}
}
/*celular especifico*/
@media (width:375px){
    h1{
        color: cadetblue;
    }
    h2{
        color: cadetblue;
    }
}
/*tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
    h1{
        color: yellow
    }
    h2{
        color: yellow;
    }
}
/*celuar deitado*/
@media (orientation landscape){
    h1{
        color: blue;
    }
    h2{
        color: blue;
    }
}